html, body {
	height: 100%;
	background-image: url("img/blackboard.jpg");
	background-color: black;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 100% 100%;
	color: white;
	font-family: "Love Ya Like A Sister";
}

.container {
	height: 100%;
}

/* -----------------------------------------------
---------------------- LEFT ----------------------
----------------------------------------------- */

.left {
	margin-top: 12%;
}

#wrong {
	margin: 75% 20%;
	position: absolute;
	width: 45%;
	text-align: left;
	font-size: 2em;
	line-height: 1em;
}

#hangman img {
	position: absolute;
	margin: 0 10%;
	visibility: hidden;
	width: 280px;
}

#hangman .animation {
	animation-name: hangman;
  	animation-duration: 1.2s;
}

@keyframes hangman {
	0%   {opacity:0;}
	100% {opacity:1;}
}

/* -----------------------------------------------
--------------------- CENTER ---------------------
----------------------------------------------- */

.center {
	text-align: center;
}

h1 {
	text-align: center;
	margin: 30% 0;
}

#startButton {
	margin-top: 25%;
	padding: 0.8rem 1.2rem;
	border-radius: 15%;
	font-size: 2em;
}

#guess {
	font-size: 2.5em;
}

#guessForm {
	margin-top: 20%;
}

input {
	width : 10em;
	background-color: transparent;
	border: none;
  	border-bottom: 2px solid white;
  	color: white;
  	text-align: center;
  	font-size: 1.2em;
}

#message {
	margin-top: 20%;
	font-size: 4em;
}

/* ------------------------------------------------
---------------------- RIGHT ----------------------
------------------------------------------------ */

.right {
	text-align: center;
	margin-top: 20%;
	font-size: 1.5em;
	line-height: 1.5;
}

#countdown {
	font-size: 2.5em;
}

#restartButton {
	margin-top: 10%;
	visibility: hidden;
}