html, body {
	height: 100%;
	background-image: url("img/blackboard.jpg");
	background-color: black;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 100% 100%;
	color: white;
	font-family: "Love Ya Like A Sister";
}

.container {
	height: 100%;
}

.left {
	text-align: center;
	margin-top: 20%;
}

.center {
	text-align: center;
}

.right {
	text-align: center;
	margin-top: 20%;
	font-size: 1.5em;
	line-height: 1.5;
}

h1 {
	text-align: center;
	margin: 20% 0;
}

#startButton {
	margin-top: 50%;
	padding: 0.8rem 1.2rem;
	border-radius: 15%;
	font-size: 2em;
}

#countdown {
	font-size: 2.5em;
}

#restartButton {
	visibility: hidden;
}